USE [GiaDungPlus]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 02/12/2023 10:58:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[MaChiTietDonHang] [int] IDENTITY(1,1) NOT NULL,
	[MaDonHang] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[ThanhTien] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietSanPham]    Script Date: 02/12/2023 10:58:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietSanPham](
	[MaChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[LoaiSanPham] [varchar](50) NOT NULL,
	[SoLuongTrongKho] [int] NOT NULL,
	[NhaSanXuat] [varchar](100) NULL,
	[XuatXu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGia]    Script Date: 02/12/2023 10:58:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGia](
	[MaDanhGia] [int] IDENTITY(1,1) NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
	[XepHang] [int] NOT NULL,
	[NhanXet] [nvarchar](250) NULL,
	[NgayDanhGia] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDanhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 02/12/2023 10:58:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDonHang] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
	[NgayDatHang] [datetime] NOT NULL,
	[TongTien] [decimal](18, 0) NOT NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 02/12/2023 10:58:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](30) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[HoTen] [varchar](30) NOT NULL,
	[DiaChi] [varchar](255) NOT NULL,
	[SoDienThoai] [varchar](12) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE NguoiDung
ADD CONSTRAINT ND_SoDienThoaiLength CHECK (LEN(SoDienThoai) <= 15);
ALTER TABLE NguoiDung
ADD CONSTRAINT ND_SoDienThoaiIsNumeric CHECK (ISNUMERIC(SoDienThoai) = 1);
ALTER TABLE NguoiDung
ADD CONSTRAINT ND_SoDienThoaiFormat CHECK (SoDienThoai LIKE '[0-9]%');

ALTER TABLE NguoiDung
ADD CONSTRAINT ND_EmailLength CHECK (LEN(Email) <= 100);
ALTER TABLE NguoiDung
ADD CONSTRAINT ND_ValidDomain CHECK (
    SUBSTRING(Email, CHARINDEX('@', Email) + 1, LEN(Email)) IN ('gmail.com', 'yahoo.com', 'example.com')
);

/****** Object:  Table [dbo].[SanPham]    Script Date: 02/12/2023 10:58:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [int] IDENTITY(1,1) NOT NULL,
	[TenSanPham] [nvarchar](100) NOT NULL,
	[Gia] [decimal](18, 0) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE SanPham
ADD HinhAnh varchar(500);


/****** Object:  Table [dbo].[ThanhToan]    Script Date: 02/12/2023 10:58:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToan](
	[MaThanhToan] [int] IDENTITY(1,1) NOT NULL,
	[MaDonHang] [int] NULL,
	[NgayThanhToan] [datetime] NOT NULL,
	[SoTienThanhToan] [decimal](18, 0) NOT NULL,
	[PhuongThucThanhToan] [varchar](50) NULL,
	[MaGiaoDich] [varchar](100) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThanhToan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE Slide(
	MaAnh INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
	TieuDe NVARCHAR(250) NULL,
	MoTa NVARCHAR(250) NULL,
	LinkAnh NVARCHAR(max) NULL,
);

CREATE TABLE TaiKhoans(
	MaTaiKhoan int IDENTITY(1,1) NOT NULL,
	HoVaTen NVARCHAR(50) NULL,
	SoDienThoai VARCHAR(15) NULL,
	Email nvarchar(150) NULL,
	MatKhau nvarchar(50) NULL,
);
ALTER TABLE TaiKhoans
ADD CONSTRAINT CK_SoDienThoaiLength CHECK (LEN(SoDienThoai) <= 15);
ALTER TABLE TaiKhoans
ADD CONSTRAINT CK_SoDienThoaiIsNumeric CHECK (ISNUMERIC(SoDienThoai) = 1);
ALTER TABLE TaiKhoans
ADD CONSTRAINT CK_SoDienThoaiFormat CHECK (SoDienThoai LIKE '[0-9]%');

ALTER TABLE TaiKhoans
ADD CONSTRAINT TK_EmailLength CHECK (LEN(Email) <= 100);
ALTER TABLE TaiKhoans
ADD CONSTRAINT TK_ValidDomain CHECK (
    SUBSTRING(Email, CHARINDEX('@', Email) + 1, LEN(Email)) IN ('gmail.com', 'yahoo.com', 'example.com')
);

ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonHang] ([MaDonHang])
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiTietSanPham]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonHang] ([MaDonHang])
GO




----------------------------------------------------------------------Nhập dữ liệu--------------------------------------------------------
--------Bảng NguoiDung------------
INSERT INTO NguoiDung (TenDangNhap, MatKhau, Email, HoTen, DiaChi, SoDienThoai)
VALUES 
	('nguoidung1', 'matkhau1', 'nguoidung1@gmail.com', 'Người Dùng 1', 'Địa chỉ 1', '123456789'),
	('nguoidung2', 'matkhau2', 'nguoidung2@gmail.com', 'Người Dùng 2', 'Địa chỉ 2', '987654321'),
	('nguoidung3', 'matkhau3', 'nguoidung3@gmail.com', 'Người Dùng 3', 'Địa chỉ 3', '111222333'),
	('nguoidung4', 'matkhau4', 'nguoidung4@gmail.com', 'Người Dùng 4', 'Địa chỉ 4', '444555666'),
	('nguoidung5', 'matkhau5', 'nguoidung5@gmail.com', 'Người Dùng 5', 'Địa chỉ 5', '777888999');


---------Bảng sản phẩm-----------
-- Thêm 10 bản ghi vào bảng SanPham

---------Bảng chi tiết sản phẩm--------

---------Bảng đơn hàng----------------
-- Thêm 20 bản ghi vào bảng DonHang

----------Bảng chi tiết đơn hàng---------
-- Thêm 20 bản ghi vào bảng ChiTietDonHang
INSERT INTO ChiTietDonHang (MaDonHang, MaSanPham, SoLuong, ThanhTien)
VALUES
    (12, 1, 2, 500000),
    (21, 3, 1, 800000),
    (13, 5, 3, 1200000),
    (4, 2, 4, 300000),
    (5, 7, 1, 1500000),
    (6, 8, 2, 200000),
    (7, 9, 3, 600000),
    (8, 2, 1, 900000),
    (9, 4, 2, 700000),
    (10, 6, 3, 1000000),
    (11, 8, 1, 450000),
    (12, 9, 2, 1100000),
    (13, 4, 3, 800000),
    (14, 6, 1, 950000),
    (15, 9, 2, 300000),
    (16, 1, 3, 750000),
    (17, 3, 1, 600000),
    (18, 5, 2, 1200000),
    (19, 7, 3, 400000),
    (20, 9, 1, 900000);

--------------Bảng đánh giá-----------------
-- Thêm 10 bản ghi vào bảng DanhGia


-------------bảng slide----------------
INSERT INTO Slide (TieuDe, MoTa, LinkAnh)
VALUES
    ('Slide 1', 'Mô tả cho Slide 1', '/images/slide1.jpg'),
    ('Slide 2', 'Mô tả cho Slide 2', '/images/slide2.jpg'),
    ('Slide 3', 'Mô tả cho Slide 3', '/images/slide3.jpg'),
    ('Slide 4', 'Mô tả cho Slide 4', '/images/slide4.jpg'),
    ('Slide 5', 'Mô tả cho Slide 5', '/images/slide5.jpg');



--------------Bảng thanh toán------------
-- Thêm 20 bản ghi vào bảng ThanhToan



-----------------------------------------------------Stored Procedures-------------------------------------
---get id from table SanPham---
CREATE PROCEDURE [dbo].[sp_sanpham_get_by_id](@MaSanPham int)
AS
    BEGIN
        SELECT s.*, 
        (
            SELECT top 6 sp.*
            FROM SanPham AS sp
            WHERE sp.TenSanPham = s.TenSanPham FOR JSON PATH
        ) AS list_json_sanphamlienquan
        FROM SanPham AS s
        WHERE  s.MaSanPham = @MaSanPham;
    END;
---search product----------
CREATE PROCEDURE [dbo].[sp_sanpham_search]
    @page_index INT,
    @page_size INT,
    @ten_sanpham NVARCHAR(100) 
AS
BEGIN
    DECLARE @RecordCount BIGINT;

    IF (@page_size <> 0)
    BEGIN
        SET NOCOUNT ON;

        SELECT
            (ROW_NUMBER() OVER (ORDER BY TenSanPham ASC)) AS RowNumber,
            s.MaSanPham,
            s.TenSanPham,
            s.Gia,
            s.MoTa,
            s.HinhAnh
        INTO #Results1
        FROM SanPham AS s
        WHERE
            (@ten_sanpham = '' OR s.TenSanPham LIKE N'%' + @ten_sanpham + '%');
        SELECT @RecordCount = COUNT(*) FROM #Results1;

        SELECT *,
               @RecordCount AS RecordCount
        FROM #Results1
        WHERE RowNumber BETWEEN (@page_index - 1) * @page_size + 1 AND ((@page_index - 1) * @page_size + 1) + @page_size - 1
           OR @page_index = -1;
    END;
    ELSE
    BEGIN
        SET NOCOUNT ON;

        SELECT
            (ROW_NUMBER() OVER (ORDER BY TenSanPham ASC)) AS RowNumber,
            s.MaSanPham,
            s.TenSanPham,
            s.Gia,
            s.MoTa,
            s.HinhAnh
        INTO #Results2
        FROM SanPham AS s
        WHERE
            (@ten_sanpham = '' OR s.TenSanPham LIKE N'%' + @ten_sanpham + '%');   
        SELECT @RecordCount = COUNT(*) FROM #Results2;

        SELECT *,
               @RecordCount AS RecordCount
        FROM #Results2;
    END;
END;

---------------Create product-----------
CREATE PROCEDURE [dbo].[sp_san_pham_create](
@TenSanPham nvarchar(100),
@Gia decimal(18, 0),
@MoTa nvarchar(MAX),
@HinhAnh varchar(500)
)
AS
    BEGIN
       insert into SanPham(TenSanPham,Gia,MoTa,HinhAnh)
	   values(@TenSanPham,@Gia,@MoTa,@HinhAnh);
    END;


------------Update product------------
CREATE PROCEDURE [dbo].[sp_san_pham_update](
@MaSanPham int,
@TenSanPham nvarchar(100),
@Gia decimal(18, 0),
@MoTa nvarchar(MAX),
@HinhAnh varchar(500)
)
AS
    BEGIN
		update SanPham set TenSanPham = @TenSanPham, Gia = @Gia, MoTa = @MoTa, HinhAnh = @HinhAnh where MaSanPham = @MaSanPham; 
    END;

----------------Delete product-----------------
CREATE PROCEDURE [dbo].[sp_san_pham_delete](
    @MaSanPham int
)
AS
BEGIN
    DELETE FROM SanPham WHERE MaSanPham = @MaSanPham;
END;
